@import '../../node_modules/modern-normalize/modern-normalize.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-clr: hsl(252, 19%, 95%);
	--primary-clr: hsl(35, 100%, 50%);
	--text-clr: hsl(0, 0%, 18%);
	--clr-darkpurple: hsl(313, 18%, 40%);
	--clr-very-light-purple: hsl(247, 22%, 71%);
	--clr-very-light-gray: hsl(247, 23%, 85%);
	--light-gray: hsl(250, 18%, 87%);
	--error-clr: #b80d0d;
	--clr-valid: #19a811;
	--white-clr: hsl(0, 0%, 100%);
	--theme-name: 'light-theme';
}

@font-face {
	font-family: Norse-Bold;
	src: url('../font/Norse-Bold.otf');
}

html {
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: var(--background-clr);
	color: var(--text-clr);
	display: grid;
	grid-template-columns: auto 1fr;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	font-size: 0.9rem;
}

h1,
h2,
h3 {
	margin: 0 0 12px;
	font-size: inherit;
	font-weight: inherit;
}

p {
	font-size: 0.9rem;
}

form {
	font: inherit;
	font-size: 80%;
}

form fieldset,
form button {
	padding: 0;
	border: 0;
}

fieldset legend {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.25rem;
}

input,
button {
	background: transparent;
	appearance: none;
	outline: none;
	transition: all 0.4s ease;
}

.sidebar {
	height: 100vh;
	width: 20rem;
	background-color: var(--clr-very-light-purple);
	padding: 0.75rem;
	position: sticky;
	top: 0;
}

.sidebar .logo-mobile,
.sidebar a:last-of-type {
	display: none;
}

.sidebar > div {
	max-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.sidebar > div img {
	flex-shrink: 0;
	min-width: 30rem;
	min-height: 30rem;
	height: 100%;
}

.main {
	padding: 1rem 4.7rem;
	overflow-y: auto;
	z-index: 1;
}

.main .form-primary__header,
.main .signup-form {
	width: min(38rem, 100%);
}

.main .form-primary__header {
	margin-bottom: 0.75rem;
}

.form-primary__header .logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

.logo img {
	height: 3.5rem;
}

.logo span {
	font-family: Norse-Bold;
	font-size: clamp(1.125rem, 2vw, 1.5rem);
	color: var(--text-clr);
	text-transform: uppercase;
}

.form-primary__header h1 {
	margin: 1.25rem 0;
	color: var(--primary-clr);
	font-size: clamp(2rem, 2vw, 2.2rem);
	font-weight: 800;
}

.form-primary__header .signup-option {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.signup-option a {
	border: 1px solid var(--clr-very-light-purple);
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0.45em 2.5em;
	border-radius: 0.5em;
	color: var(--text-clr);
	transition: all 0.4s ease;
}

.signup-option a:hover {
	background-color: var(--clr-very-light-purple);
	color: var(--white-clr);
}

.signup-option a img {
	height: 1.5rem;
}

.form-primary__header p:last-of-type {
	font-weight: 500;
	color: var(--white-clr);
	background-color: var(--primary-clr);
	width: min(20.75rem, 100%);
	text-align: center;
	border-radius: 0.25em;
}

.signup-form fieldset > div {
	display: flex;
	align-items: center;
	gap: 12px;
	flex-wrap: wrap;
}

fieldset > div .input-field {
	flex: 1;
}

.signup-form .input-field {
	position: relative;
	margin-bottom: 1.125rem;
}

.input-field > input {
	caret-color: var(--clr-darkpurple);
	width: 100%;
	padding: 1em;
	border: 1px solid var(--clr-very-light-purple);
	border-radius: 0.5em;
}

.input-field label {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(10px, -8px);
	padding: 0 0.75rem;
	background-color: var(--background-clr);
	transition: all 0.4s ease;
}

.input-field input[type='password'] + button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-12px, -50%);
	cursor: pointer;
	transition: all 200ms ease;
}

.input-field input[type='password'] + button i {
	font-size: 0.8rem;
	color: var(--clr-very-light-purple);
}

.signup-form button[type='submit'] {
	background-color: var(--primary-clr);
	color: var(--white-clr);
	padding: 0.75em 2.5em;
	border-radius: 0.5em;
	cursor: pointer;
}

.input-field input:valid {
	border-color: var(--clr-valid);
}

.input-field input:invalid {
	border-color: var(--error-clr);
}

.input-field:hover input,
.input-field:focus-within input {
	border-color: var(--primary-clr);
}

.input-field:focus-within label {
	color: var(--primary-clr);
}

.signup-form button[type='submit']:hover {
	background: color-mix(in srgb, var(--primary-clr) 100%, var(--white-clr) 90%);
}

.signup-form ~ p {
	font-size: 0.85rem;
}

.signup-form ~ p > a {
	font-size: 100%;
}

.signup-form ~ p > a:hover {
	text-decoration: underline;
}

.form-primary__header h1,
.signup-form button[type='submit'] {
	letter-spacing: 0.01em;
}

@media (max-width: 768px) {
	body {
		grid-template-columns: 1fr;
	}

	.main {
		padding: 2rem;
	}

	.sidebar {
		display: none;
	}

	.sidebar .logo-mobile,
	.sidebar a:last-of-type {
		display: flex;
	}

	.sidebar .logo-mobile {
		align-items: center;
		gap: 5px;
	}

	.sidebar .logo-mobile img {
		height: 2.5rem;
	}

	.sidebar .logo-mobile span {
		color: var(--white-clr);
		font-family: Norse-Bold;
		font-size: 1.125rem;
		font-weight: 700;
	}

	.main {
		z-index: unset;
	}

	.signup-form fieldset > div {
		flex-wrap: wrap;
		gap: 0;
	}

	fieldset > div .input-field {
		flex: 0 0 100%;
	}

	.form-primary__header .signup-option {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}

	.signup-form button[type='submit'] {
		width: 100%;
	}

	.form-primary__header h1 {
		text-align: center;
	}

	.signup-form ~ p {
		text-align: center;
	}

	.signup-option a {
		justify-content: center;
	}

	.form-primary__header p:last-of-type {
		width: 100%;
	}

	.signup-form {
		padding-block: 0.75rem;
	}

	.form-primary__header .logo {
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.signup-form ~ p {
		max-inline-size: 60%;
		margin-inline: auto;
	}
}
